<!DOCTYPE html>
<html>
<head>
  <title>StripeTest</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h1>THIS IS A TEST</h1>
  <hr/>
    <div class="global-content">
      <%= yield %>
    </div>
  <hr/>
  -=Médéric=-


</body>
</html>
